In [1]:
print("Hello")

Hello

In [2]:
# set is similar to dictionary but there will be no key or values

In [3]:
myset = {1,2,3,4,5}
print(myset)

{1, 2, 3, 4, 5}

In [5]:
myset2 = set("hello")
print(myset2)

{'l', 'o', 'e', 'h'}

In [7]:
myset3 = {1,2,2,3,4,2}
print(myset3) # will return only single values . For example 2 is more than one time but returns only one time

{1, 2, 3, 4}

In [8]:
myset4 = set()

In [13]:
myset4.add(1)
myset4.add("hello")
myset4.add(4)
myset4.add(7)

In [14]:
print(myset4)

{1, 'hello', 4, 7}

In [15]:
for i in myset4:
    print(i)

1
hello
4
7

In [21]:
# we can do ods and evens, union etc
ods = set()
evens = set()

for i in range(1,9):
    if i %2 != 0:
        ods.add(i)
    if i %2 ==0:
        evens.add(i)
        
print(ods)
print(evens)

{1, 3, 5, 7}
{8, 2, 4, 6}

In [22]:
ods

{1, 3, 5, 7}

In [23]:
evens

{2, 4, 6, 8}

In [26]:
u = ods.union(evens)
u

{1, 2, 3, 4, 5, 6, 7, 8}

In [28]:
i = ods.intersection(evens)
i

set()

In [54]:
setA = {1,2,3,4,5,6,7,8,9}
setB = {1,2,3,10,11,12}

In [47]:
diff = setA.difference(setB)
diff # will show the difference between both the sets

{4, 5, 6, 7, 8, 9}

In [48]:
diff2 = setA.symmetric_difference(setB)
diff2 # will show which of the both characters both the sets are missing

{4, 5, 6, 7, 8, 9, 10, 11, 12}

In [53]:
setA.update(setB)
print(setA) # without duplication, it will update

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [55]:
setA = {1,2,3,4,5,6,7,8,9}
setB = {1,2,3,10,11,12}

In [56]:
setA.intersection_update(setB)
print(setA)

{1, 2, 3}

In [57]:
setA = {1,2,3,4,5,6,7,8,9}
setB = {1,2,3,10,11,12}

In [59]:
setA.difference_update(setB)
print(setA)

{4, 5, 6, 7, 8, 9}

In [3]:
setA = {1,2,3,4,5,6,7,8,9}
setB = {1,2,3}

In [4]:
setA.issubset(setB)

False

In [5]:
setB.issubset(setA)

True

In [6]:
# frozen set 
a = frozenset([1,2,3,4])
print(a)

frozenset({1, 2, 3, 4})