In [5]:
# string is ordered, immutable, text representation

In [6]:
my_string = "Sandeep"
print(my_string)

Sandeep

In [7]:
# we can either use single or double quote

In [8]:
my_string2 = "Hello world"
char = my_string2[0:5] # we can also grab substring 

char

'Hello'

In [9]:
# easy trick to reveres the string 
reversed_string = my_string2[::-1]
reversed_string

'dlrow olleH'

In [10]:
# we can concatenate the string 
greeting = "hello"
name = "Sandeep"
print(greeting + " "+name)

hello Sandeep

In [11]:
#we can also use loops

In [12]:
greeting

'hello'

In [13]:
for i in greeting:
    print(i)

h
e
l
l
o

In [14]:
if "h" in greeting:
    print("yes")
else:
    print("No")

yes

In [23]:
print(my_string.upper())#all uppper cases 
print(my_string.lower()) #all lower cases 
print(my_string.capitalize())# first letter is capital 
print(my_string.count("e")) # returns how many times a character is repeated 
print(my_string.find("d")) #retruns the position of the charater we have searched for

SANDEEP
sandeep
Sandeep
2
3

In [26]:
#we can also replace words in the string 
print(my_string2.replace("world", "universe")) # it will does not change the string, but will return the new string

Hello universe

In [28]:
my_string3 = "hello how are you doing?"

#to convert the string to list 
new_list = my_string3.split()
new_list

['hello', 'how', 'are', 'you', 'doing?']

In [32]:
#to convert the list to string
new_string = " ".join(new_list) # join method is really useful
new_string

'hello how are you doing?'

In [33]:
my_list = ["a"]*6
my_list

['a', 'a', 'a', 'a', 'a', 'a']

In [34]:
my_string4  = ""
for i in my_list:
    my_string4 += i
print(my_string4)
    
# this is a bad code, instead we can use .join menthof

aaaaaa

In [35]:
print("".join(my_list))

aaaaaa

In [38]:
# formatting the strings 
var = "tom"
my_string = "the variable is %s" % var
print(my_string)

# we have to use %s for string and %d for integer(decimal). %f for flaoting point value 
#this is old type of formatting

the variable is tom

In [41]:
# this is also little bit older version
var = 3.14
var2 = 6
my_string = "the variable is {} and {}".format(var, var2)
print(my_string)

the variable is 3.14 and 6

In [43]:
# the latest type is 
var = 3.14
var2 = 6
my_string = f"the variable is {var} and {var2}"
print(my_string)

the variable is 3.14 and 6