In [5]:
my_tup = ("sandeep", 27, 45)
print(my_tup)

('sandeep', 27, 45)

In [6]:
print(type(my_tup))

<class 'tuple'>

In [7]:
# we can also use the inbuilt fucntion
my_tup2 = tuple(["Sandeeo", "Sunil", 27])

In [9]:
my_tup2

('Sandeeo', 'Sunil', 27)

In [10]:
item = my_tup2[1]
print(item)

Sunil