In [14]:
import numpy as np

In [15]:
import pandas as pd

#we will input a list of strings , list of integers , a array  and a dictionary

In [4]:
labels = ["a", "b", "c"]
my_data = [10,20,30]
arr = np.array(my_data)
d = {"a":10 , "b":20,"c": 30}

In [5]:
labels

['a', 'b', 'c']

In [6]:
my_data

[10, 20, 30]

In [7]:
arr

array([10, 20, 30])

In [8]:
d

{'a': 10, 'b': 20, 'c': 30}

In [9]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [10]:
#we can also specify index for Data 
pd.Series(data = my_data, index = labels )

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [16]:
ser1 = pd.Series([1,2,3,4],["USA","Germany","USSR","Japan"])

In [17]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [18]:
ser2 = pd.Series([1,2,5,4],["USA", "Germany","Italy","Japan"])

In [19]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [20]:
ser2["USA"]

1

In [21]:
ser3 = pd.Series(data = labels)

In [22]:
ser3

0    a
1    b
2    c
dtype: object

In [23]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [24]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [25]:
ser1 + ser2 #here USSR and Italy are not common in both of the series, so it will return NaN in both

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64