# we will be discussing If else and elif statements , loops

# if elif and else statements

In [6]:
# basic syntex
#if some_condition():
    #execute some code 
#elif some_othercondition():
    #do something different

#else:
    #do something else

In [7]:
if True:
    print("its true")

its true

In [8]:
if 3>2:
    print("its right")

its right

In [9]:
# while feeding the dog
hungy = True

if hungy:
    print("Feed me")

Feed me

In [11]:
hungy = False

if hungy:
    print("Feed me")
else:
    print("I am not hungry") #using the else statement

I am not hungry

In [19]:

#using multiple statements

loc = "Bank" #location is bank

if loc == "auto shop":
    print("Cars..cool!")

elif loc == "Bank":
    print("money is cool")
    
    
else:
    print("i dont know much")

money is cool

In [22]:
name = 'sammy'

if name == 'Frankie':
    print("hello frankie")
elif name == 'sammy':
    print("Hello sammy")
else:
    print("hey stranger")

Hello sammy

# for loops

In [24]:
my_iterable = [1,2,3,4]

for i in my_iterable:
    print(i)

1
2
3
4

In [25]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [28]:
for num in my_list:
    print(num) #print nuu for every number in list
    
#here we have taken num as varible, but it  can be anything

1
2
3
4
5
6
7
8
9
10

In [30]:
for num in my_list:
    print("hello") #returns hello ,that are num of times present in the my_list

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [37]:
for num in my_list:
    if num %2 ==0:
        print(num,": is even number") #checks for even number 
    else:
        print(num, "is odd number") #checks for odd

1 is odd number
2 : is even number
3 is odd number
4 : is even number
5 is odd number
6 : is even number
7 is odd number
8 : is even number
9 is odd number
10 : is even number

In [49]:
# multiple loops
list_sum = 0
for num in my_list:
    list_sum = list_sum+ num
print(list_sum)#should not forget to quit the loop

55

In [50]:
# if we dont quit the loop, we will get 
list_sum = 0
for num in my_list:
    list_sum = list_sum+ num
    print(list_sum) #we will get the output for every number

1
3
6
10
15
21
28
36
45
55

In [52]:
#iterating through string 
mystring = "Hello World"

for i in mystring:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [54]:
#we can do same with tuples

mytuple = (1,2,3,4)

In [55]:
for i in mytuple:
    print(i)

1
2
3
4

In [56]:
#and tuple has one more advantage called tuple unpacking 
newtuple = ([1,2], [3,4],[5,6])

for i in newtuple:
    print(i)

[1, 2]
[3, 4]
[5, 6]

In [58]:
#tuple unpacking 
for (a,b) in newtuple: #(a,b) are tuple unpaking 
    print(a) 
    print(b)

1
2
3
4
5
6

In [59]:
# we can also use the for loop for dict 
d = {"k1":1, "k2":2,"k3":3}

In [60]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [62]:
for num in d:
    print(num) #we will get the output of only keys

k1
k2
k3

In [64]:
#if we want the value
for num in d.items():
    print(num) #the out put is like tuple unpacking

('k1', 1)
('k2', 2)
('k3', 3)

In [65]:
# if we want only the keys 
for (key,value) in d.items():
    print(value)

1
2
3

# While Loops

In [66]:
 #while loop will continue to execute the code while some condition is true

In [77]:
x = 0

while x<5:
    
    print(f'the current number is {x}')
    x = x +1
else:
    
    print("x is not less than 5")

the current number is 0
the current number is 1
the current number is 2
the current number is 3
the current number is 4
x is not less than 5

In [78]:
# key words useful while dealing with loops
#break, continue and pass

In [82]:
#pass does nothing at all
x = [1,2,3]
for i in x:
    #commnet 
    pass #if we dont want to deal with it right now, but later it can be altered 

print("end of syntex")

end of syntex

In [84]:
mystring = "sammy"

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

s
m
m
y

# useful built in operators

In [85]:
#range 
mylist = [1,2,3]

In [88]:
#built in fuction for creating list of perticular numbers
for num in range(3,10):
    print(num)
# we can also have stepsize as well

3
4
5
6
7
8
9

In [92]:
#ENUMERATE
index_count = 0
for letter in "abcde":
    print("at index {} the letter is {}".format(index_count,letter))
    index_count+=1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [93]:

index_count = 0
word = "abcde"

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [98]:
# to replacate the above code, we will be using enumerate 
index_count = 0
word = 'abcde'

for letter in enumerate(word):
    
    print(word[index_count])
    index_count+=1

a
b
c
d
e

In [100]:
#or 
word = 'abcde'

for item in enumerate(word):
    print(item) #returns the output of tuple

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [102]:
# we can also return differently 
word = 'abcde'

for key,value in enumerate(word):
    print(key)
    print(word
         )

0
abcde
1
abcde
2
abcde
3
abcde
4
abcde

In [103]:
# we will be discussing ZIP file

In [126]:
mylist1 = [1,2,3,4,5]
mylist2 = "a b c d e".split()

In [127]:
mylist1

[1, 2, 3, 4, 5]

In [128]:
mylist2

['a', 'b', 'c', 'd', 'e']

In [129]:
mylist3 = [100,200,300]

In [131]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [134]:
#in operator

In [135]:
"x" in [123,4,5,6]

False

In [136]:
"a" in "a word"

True

In [137]:
'x' in ['x', 'y ']

True

In [138]:
#works with dictioary as well

In [139]:
#min and max

In [140]:
myslist = [1,2,3,4,5]

In [141]:
min(mylist)

1

In [142]:
max(mylist)

3

In [143]:
# random library

In [144]:
from random import shuffle

In [145]:
a = [1,2,3,4,16,3,4,51,22,13]

In [152]:
shuffle(a)

In [153]:
a

[4, 3, 2, 51, 3, 13, 22, 16, 1, 4]

In [156]:
#random integer generator
from random import randint

my_number = randint(0,10)
my_number

6

In [157]:
#accepting the user input

In [158]:
input("hey enter a number here")

hey enter a number here23

'23'

In [161]:
int(input("please enter a number")) #takes only integer as input

please enter a number5

5

# list comprahensions

In [163]:
mystring = 'hello'
#if i want to make everycharater a list

In [165]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [166]:
mylist

['h', 'e', 'l', 'l', 'o']

In [169]:
#exact same can be done in single line 
mystring = 'hello'

mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [171]:
#another example
mynewlis = [word for word in "sandeep"]
mynewlis

['s', 'a', 'n', 'd', 'e', 'e', 'p']

In [181]:
# list of numbers 
newlist = [num**2 for num in range(0,10)]
newlist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [184]:
# if we want to grab only even numbers 
newlist = [num for num in range(0,11) if num%2 == 0]
newlist

[0, 2, 4, 6, 8, 10]

In [187]:
#More complex arithematics
celcius = [1,2,3,4,5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]
fahrenheit

[33.8, 35.6, 37.4, 39.2, 41.0]

In [189]:
#nested loop 
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [190]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]