In [1]:
mylist = ["banana", "apple", "organge"]

In [2]:
print(mylist)

['banana', 'apple', 'organge']

In [22]:
##list can contain integers, boolean, and duplicates
mylist2 = ["banana", "apple", "organge", "apple", True, 123]

In [23]:
print(mylist2)

['banana', 'apple', 'organge', 'apple', True, 123]

In [24]:
mylist2[1] #indexing starts at 0

'apple'

In [25]:
#we can also specify negative index, -1 that means it is last element 
mylist2[-1]

123

In [26]:
# we can pply for loops
for x in mylist2:
    print(x)

banana
apple
organge
apple
True
123

In [27]:
if "banana" in mylist2:
    print("yes")
else:
    print("no")

yes

In [28]:
len(mylist2) # dont confuse with len and indexing

6

In [29]:
# to add an element to list , use append
mylist2.append("Gauva")
print(mylist2)# the new element will be added at the end of the list

['banana', 'apple', 'organge', 'apple', True, 123, 'Gauva']

In [30]:
mylist2.pop()

'Gauva'

In [31]:
mylist2

['banana', 'apple', 'organge', 'apple', True, 123]

In [35]:
mylist2 = mylist2.remove("Gauva")  # will give an error if the item is not there

ValueError: list.remove(x): x not in list

In [36]:
print(mylist2)

['banana', 'apple', 'organge', 'apple', True, 123]

In [37]:
mylist2.sort() # here it gives an error but if we consider only numaricals or

TypeError: '<' not supported between instances of 'bool' and 'str'

In [41]:
mylist3 = [1,8,7,6,9,26,827,2,34,3]

In [44]:
print(sorted(mylist3))

[1, 2, 3, 6, 7, 8, 9, 26, 34, 827]

In [46]:
# if we want a new list with 5 zeros
mylist4 = [0] * 5

print(mylist4)

[0, 0, 0, 0, 0]

In [47]:
# slicing 
a = mylist3[1:4]
print(a)

[2, 3, 6]

In [48]:
# step index
b = mylist3[1:6:2]
print(b)

[2, 6, 8]

In [49]:
# nice trick to reveres the list 
c = mylist3[::-1]
print(c)

[827, 34, 26, 9, 8, 7, 6, 3, 2, 1]

In [50]:
list_org = ["Banana", "cherry", "Apple"]
list_copy = list_org # this will make changes in bth the lists



list_copy.append("lemon")

print(list_copy)

['Banana', 'cherry', 'Apple', 'lemon']

In [52]:
print(list_org)

['Banana', 'cherry', 'Apple', 'lemon']