As I am revising the topics, will be writing the codes with just commnets not full notes as i have very less time to cover evrything in 3 months. 
This course is on udemy, u can have a look at it

In [1]:
#Common type of data structures are 
#integers = 1,2,3,4
#floating_points like 2.3,5.6,7.6
#strings like "hello", "sandeep" , everything that is in single or double quote is string 
#list = [10. "hello"]
#dictionaries like {"apple":10, "banana":20}
#tuples ("10", "hello ")
#set {1,2,3}
#booleans like True and False

# numbers 

Mainly 2 types 


Integers and floats

In [2]:
2+1

3

In [3]:
3-2

1

In [4]:
2*3

6

In [5]:
4/3

1.3333333333333333

In [6]:
#for knowing  reminder 
7%2

1

In [7]:
# we get  0 reminder when we divide by 2, 
# id we get 0 its even or odd
print(10 %2) #even number
print(15%2)

0
1

In [8]:
#follow BODMAS 
2*5+5-8*4

-17

# Varible assignments

In [9]:
#representing with some name for future use 
num = 23
print(num)

23

In [10]:
num *2

46

In [11]:
num /2

11.5

In [12]:
type(num)

int

In [13]:
a = 5

In [14]:
a

5

In [15]:
#we can also re assign 
a =10

In [16]:
a

10

In [17]:
a +1

11

In [18]:
a = a + a #take current value of a and makes it 20 
a

20

In [19]:
type(a) # knowing type of the object

int

In [20]:
a = 30.1

In [21]:
type(a)

float

In [22]:
my_income = 100
tax_rate= 0.1
my_taxes = my_income* tax_rate

In [23]:
my_taxes

10.0

# Strings

In [24]:
#strings are embeded in either single quote or double quote

In [25]:
#indexing start at 0 in python

In [26]:
#slicing helps to grab a sub section of the string
#start : where we beging to slice
#stop : where we stop but does not include the last word

In [27]:
"hellp"

'hellp'

In [28]:
type("hello")

str

In [29]:
" i am going to my school"

' i am going to my school'

In [30]:
#printing out the string
print("hellp")

hellp

In [31]:
#escape sequences 
print("hello \n world") #\n splits the string

hello
 world

In [32]:
len("hello")# length of the stirng

5

In [33]:
len("I am")# inludes space as well

4

# String indexing and Slicing

In [34]:
my_string = "Hello world"

In [35]:
my_string[0] # 0th character of string

'H'

In [36]:
my_string[6]

'w'

In [37]:
my_string[-1] #last letter of the string

'd'

In [38]:
my_string

'Hello world'

In [39]:
#Slicing

In [40]:
mystring = 'abcdefghijk'

In [41]:
mystring[2:]

'cdefghijk'

In [42]:
mystring[0:5]# go up to but not including the last mentioned

'abcde'

In [43]:
mystring[:3]

'abc'

In [44]:
# Stepsize

In [45]:
mystring

'abcdefghijk'

In [46]:
mystring[::2]# go all the way from beginnig to end with stepsize 2

'acegik'

In [47]:
#imp 
#reverse the string 
mystring

'abcdefghijk'

In [48]:
mystring[::-1]

'kjihgfedcba'

# String Properties and String Methods

In [49]:
#immutabbelity 
#That means we cannot chage

In [50]:
Name = "Sandeep" 
#imagine if i want to chage first element of Name, i cant

In [51]:
Name[0] = p # we will get an error

NameError: name 'p' is not defined

#What we can do is , concatenate

In [52]:
Name

'Sandeep'

In [53]:
#if i want to change the first letter, than grab all the letters except first 

last_letters = Name[1:]

In [54]:
last_letters

'andeep'

In [55]:
new_name = "A" + last_letters

In [56]:
new_name

'Aandeep'

In [57]:
greet = "hello " + new_name

In [58]:
greet

'hello Aandeep'

In [59]:
x ="hello World "
x + "it is beautiful outside"

'hello World it is beautiful outside'

In [60]:
#multiplication of letters 
letter = 'z'

In [61]:
letter*10

'zzzzzzzzzz'

In [62]:
# if we type number in double quotes, it will be considered as string 
'2' + '3'

'23'

In [63]:
#built in funcions

In [64]:
x = "Hello World"

In [65]:
x.upper()#uppercase everything in the string

'HELLO WORLD'

In [66]:
x.lower()

'hello world'

In [67]:
x.split()

['Hello', 'World']

In [68]:
# one more on split 
y = "hello how are you , i am fine and doing well"

In [69]:
y.split()

['hello', 'how', 'are', 'you', ',', 'i', 'am', 'fine', 'and', 'doing', 'well']

In [70]:
y[::-1].upper().split() #reverse and uppercase and split

['LLEW', 'GNIOD', 'DNA', 'ENIF', 'MA', 'I', ',', 'UOY', 'ERA', 'WOH', 'OLLEH']

# print formeting with strings

In [73]:
# .format method
print("this is a string {}".format("inserted"))

this is a string inserted

In [74]:
#advatages are 
print("The {2} {1} {1}".format('fox', 'brown', 'quick'))

The quick brown brown

In [76]:
#Assigning key words
print("the {q} {b} {f}".format(f= 'fox', b = 'brown', q = 'quick'))

the quick brown fox

In [77]:
# float formating

In [78]:
result = 100/777

In [79]:
result

0.1287001287001287

In [80]:
print("the results are {r}".format(r= result))

the results are 0.1287001287001287

In [81]:
#f string method

In [82]:
name = "sandeep"

In [84]:
print("hello his name is {n}".format(n = name))

hello his name is sandeep

In [86]:
#fstring method 
print(f'Hello, his name is {name}')

Hello, his name is sandeep

In [88]:
#fstring with multiple variables 
name = 'sandeep'
age = 21

In [89]:
print(f'His name is {name} and his age is {age}')

His name is sandeep and his age is 21

# List in Python

In [90]:
my_list = [1,2,3,4]

In [91]:
my_list

[1, 2, 3, 4]

In [92]:
your_list = ["strong", 1,2,3]

In [93]:
your_list

['strong', 1, 2, 3]

In [94]:
len(my_list) # looks for the no. of items not for the le

4

In [95]:
len(your_list)

4

In [96]:
my_list[0]

1